
input {
  // display: inline-block;
  width: 10%;
  border-radius: 4px;
  border: none;
  padding: 13px;
  margin-left: -10px;
  font-size: 15px;
  opacity: 0.6;
  background-color: #dddddd;
  color: #2e003e;
}
