<main>
  <form>
    <fieldset>
      <h1>Choose a date</h1>
      <label for="day">Day</label>
      <app-input-field id="day" type="text" placeholder="20" maxlength="2"></app-input-field>
      <label for="month">Month</label>
      <app-input-field id="month" type="text" placeholder="12" maxlength="2"></app-input-field>
      <label for="year">Year</label>
      <app-input-field id="year" type="text" placeholder="2020" maxlength="4"></app-input-field>
      <button>Check date</button>
    </fieldset>
  </form>
</main>
