form {
  display: flex;
  justify-content: center;
  align-content: center;
}

fieldset {
  // display: flex;
  justify-content: center;
  align-content: center;
  background-color: white;
  box-shadow: none;
  border: none;
  width: 350px;
  border-radius: 4px;
  margin-top: 30vh;
  padding: 35px;

  -webkit-box-shadow: 2px 1px 22px 7px rgba(170, 170, 170, 0.66);
  box-shadow: 2px 1px 22px 7px rgba(170, 170, 170, 0.66);
}

h1 {
  margin-top: 0;
  margin-left: 8px;
  color: #2e003e;
}

label {
  margin-right: 20px;
  margin-left: 10px;
  // display: inline-block;
  color: #2e003e;
  font-weight: 400;
  font-size: 14px;
}

form input {
  // display: inline-block;
  width: 10%;
  border-radius: 4px;
  border: none;
  padding: 13px;
  margin-left: -10px;
  font-size: 15px;
  opacity: 0.6;
  background-color: #dddddd;
  color: #2e003e;
}

button {
  float: right;
  margin-right: 15px;
  margin-top: 20px;
  color: #ffff;
  padding: 7px 12px 7px 12px;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  opacity: 0.86;
  background-color: #2e003e;
  cursor: pointer;
}

button:hover {
  background-color: #536878;
}
